# --- CORE BOT & WEB SERVER ---
python-telegram-bot==20.7
flask
gunicorn
requests

# --- DATA SCIENCE & FINANCE ---
vnstock
pandas
numpy
matplotlib

# --- SYSTEM DEPENDENCIES ---
pydantic
urllib3
certifi